<h2>Agrega un nuevo enologo</h2>

<%= form_with(model: @oenologist, local: true) do |f| %>

       <div>
            <%= f.label "Nombre" %>
            <%= f.text_field :name %>
       </div>
       <div>
            <%= f.label "Age" %>
            <%= f.number_field :age %>
       </div>
       <div>
            <%= f.label "Nacionalidad" %>
            <%= f.text_field :nationality %>
       </div>
     <hr> 
     <h3>Selecciona la revista en la que trabaja</h3>
     <div class="field">
          <%= f.collection_check_boxes(:magazine_ids, Magazine.all, :id, :name) do |box| %>
               <%= box.label class:"label-chechbox" do %>
               <%=box.check_box + box.text %>
               <%= f.text_field '', name: 'oenologist[position][]' %>
               <br>
               <% end %>
          <% end %>
     </div>
     <hr>
            <%= f.submit %>
<%end%>
