<h2>Edita tu vino</h2>
<hr>
<%= form_with(model: @wine, local: true) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


<hr>
  <div class="field">
      <h3>Pon la nota a tu vino</h3>
      <%= f.collection_check_boxes(:oenologist_ids, Oenologist.all.order('age DESC'), :id, :name) do |box| %>
        <%= box.label class:"label-chechbox" do %>
          <%=box.check_box + box.text %>
        <% end %>
        <%= f.label 'Puntuacion' %>
        <%= f.number_field '', min: 1, max: 10, name: 'wine[score][]' %>
        <br>
      <% end %>
  </div>
<hr>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>